textarea {
  border-radius: 1px;
  height: 250px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  max-width: 800px;
  min-height: 100px;
  min-width: 125px;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 2px 7px 15px 3px rgba(0,0,0,0.26); 
  box-shadow: 2px 7px 15px 3px rgba(0,0,0,0.26);  
  margin: 0px 0px 25px 0;
  background-color: #e6e6e6;
  font-size: 14px;
}
input {
  width: 100%;
  font-size: 14px;
  height: 50px;
  padding: 10px;
  max-width: 600px;
  -webkit-box-shadow: 2px 7px 15px 3px rgba(0,0,0,0.26); 
  box-shadow: 2px 7px 15px 3px rgba(0,0,0,0.26);  
  margin: 0px 0px 25px 0;
  border: 2px solid #ccc;
  box-sizing: border-box;
  background-color: #e6e6e6;
}
.antispam { display:none;}
.send-mail-button
{
  width: 250px;
  height: 50px;
  color: #000;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
  padding: 5px 25px;
	color: #000;
  cursor: pointer;	
}
.send-mail-button:hover {
  background-color: rgba(169, 148, 98, 1);
}