/* –––––––––––––––––––––––––––––––––––––––––––––––––– GALLERY STYLE –––––––––––––––––––––––––––––––––––––––––––––––––– */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 5px 5px 5px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
  }
  .gallery-item {
    border: 2px solid rgba(169, 148, 98, 1);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
    width: 250px;
    height: 150px;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 7px 15px 3px rgba(0,0,0,0.26); 
    box-shadow: 2px 7px 15px 3px rgba(0,0,0,0.26);  
  }
  
  .gallery-item img {
    object-fit: cover;
    transition: 0.3s ease-in-out;
    height: 100%;
    width: 100%;
  }
  .gallery-item img:hover {
    opacity: 0.8;
  }
  
  /*Image modal*/
  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .modal img {
    width: 60%;
    object-fit: cover;
  }
  
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 100;
  }