/* –––––––––––––––––––––––––––––––––––––––––––––––––– GENERAL STYLE –––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

html {
  margin: 0;
  padding:0;
}
* {
  padding: 0;
  font-family: Roboto-Regular;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}

ul {
  list-style: none;
}

b {
  font-family: Roboto-Bold;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

body {
  font-size: 18px;
}
.text_left {
  text-align: left;
}
.center {
  text-align: center;
}
hr {
  margin: 25px 0;
}
h3 {
  word-wrap: break-word;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––– GENERAL STYLE END –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– CONTAINER STYLE –––––––––––––––––––––––––––––––––––––––––––––––––--– */

/* –––––––––––––––––––––––––––––––––––––––––––––––––– HEADER STYLE –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* page header style */
.page-header {
  background-color: #000;
  padding:0;
}
/* header main logo style */
#logo_sticky {
  display: none;
  order: -2;
  margin: 0;
}
#logo_sticky img {
  width: 150px;
}
#logo {
  text-align: center;
  margin-bottom: 25px;
  padding: 25px 0;
}
#logo img {
  max-width: 225px;
}

/* navbar style */
#navbar {
  background-color: #000;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 20px;
  padding: 20px 0;
  z-index: 1;
}

#navbar a {
  margin: 0 25px;
  color: #ffffff;
  
  font-family: Roboto-Medium;
}

#navbar a:hover {
  color:#a99462;
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  left:0;
}
/* contact button style */
#contact-btn {
  padding: 20px 50px;
  order: 2;
  font-size: 28px;
  font-family: Roboto-Medium;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(169, 148, 98, 1);
  text-align: center;
  text-decoration: none;
}
#contact-btn a {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
#contact-btn:hover {
  background-color: rgba(169, 148, 98, 0.8);
  text-decoration: none;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– MAIN STYLE –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  flex: 1 1 auto;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 50px 25px;
  text-align: center;
  scroll-margin-top: 75px;
  }
.page-main a {
  color: #000;
}
#start {
  padding-top:50px;
}
.add_marg {
  margin-top: 225px;
}
.page-main h1 {
  margin-bottom: 50px;
}
.break {
  word-wrap: break-word;
}
.page-main p + p {
  margin-top: 10px;
}

.inner-spacer {
  text-align: center;
  background-color: #a99462;
  width: 100%;
  padding: 50px 0;
}
.gold-line{
  border: 1px solid #a99462;
  width: 90%;
  margin:0 auto;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––– FOOTER STYLE –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 50px 50px;
}
.page-footer small {
  font-size: 10px;
}
.footer-menu {
  display: flex;
  font-size: 18px;
}
.footer-menu a {
  margin-right: 20px;
}
.footer-menu a:hover {
  color: #a99462;
}
.push {
  margin-left: auto;
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––– SOCIAL MEDIA CARDS STYLE –––––––––––––––––––––––––––––––––––––––––––––––––– */
.card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card {
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.card:hover .img-top {
  display: inline;
}
.card img {
  width: 35px;
}
.card:last-child {
  margin-right: 0px;
}