/* –––––––––––––––––––––––––––––––––––––––––––––––––– STYLE: 480px –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 480px) {
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––– STYLE: 768px –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 768px) {
  #contact-btn {
    order: 1;
    font-size: 3vw;
    padding: 15px 50px;
  }
  #navbar {
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    padding:0;
  }
  #navbar a {
    margin: 15px;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-menu a {
    margin-right: 0px;
  }
  h1 {
    overflow-wrap: break-word;
  }
  h3 {
    font-size: 16px;
  }
  body {
    font-size: 14px;
  }
  .modal-content {
    width: 100%;
  }
  #logo_sticky {display: none;}
}
/* –––––––––––––––––––––––––––––––––––––––––––––––––– STYLE: 1024px –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 1024px) {
  .page-footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0px;
  }
  .page-footer small {
    order: -1;
  }
  .footer-menu {
    order: 1;
    margin: 25px 0;
  }
  .footer-social-media {
    order: 2;
  }
  .push {
    margin-left: 0;
    margin-right: 0;
  }
}